
body{
    padding: 0;
    margin: 0;
    background-color: #e0dede;
}

/*Index.HTML*/

.Index-title{
    text-align: center;
    background-color: black;
    color: white;
    padding: 0;
    height: 100px;
}

.title-description{
    text-align: center;
}

.principal-text{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.gallery{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}

.gap{
    gap: 16px;
}

.bold{
    font-weight: bold;
}

.item-gallery{
    border: 1px solid black;
    padding: 40px;
    border-radius: 16px;
    text-align: center;
}

.index-img{
    border: 1px solid black;
    border-radius: 16px;
    width: 200px;
    height: 165px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

/*Prototip 1*/

.center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center; 
    font-family: Arial, Helvetica, sans-serif;
}

.fondo{
    background-color: #ffffff;
    width: 146.51px;
    height: 246.32px;
}

.c1-principaltext{
    width: 121.55px;
    height: 31.19;
    font-size: 11.52px;
    font-weight: 400;
    margin-left: 7.68px;
}

.blue{
    color: #2ac2f0;
}

.valoration{
    width: 66.61px;
    height: 20.55px;
    font-size: 10.24px;
    padding: 0;
    margin: 0;
    margin-left: 7.68px;
    gap: 2px;
}

.valoration-number{
    background-color: #32A636;
    color: #FFFFFF;
    width: 19.38px;
    height: 18.55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.56px;
    margin-bottom: 10.88px;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}

.text-valoration{
    color: #BDBDBD;
    display: flex;
    justify-content: center;
}

.price{
    position: absolute;
    width: 26.23px;
    height: 33.27px;
    bottom: 0;
    left: 112.6px;
    top: 206.65px;
    font-size: 11.55px;
}

.margin-padding{
    padding: 0;
    margin: 0;
}

.relative{
    position: relative;
}

.form-text{
    padding-bottom: 5px;
}

/*Prototip 2*/

.fondo-2{
    width: 309.39px;
    height: 246.07;
}