
body{
    padding: 0;
    margin: 5;
    background-color: #e0dede;
}

/*Index.HTML*/

.Index-title{
    text-align: center;
    background-color: black;
    color: white;
    padding: 0;
    height: 100px;
}

.title-description{
    text-align: center;
}

.principal-text{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.gallery{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}

.gap{
    gap: 16px;
}

.bold{
    font-weight: bold;
}

.item-gallery{
    border: 1px solid black;
    padding: 40px;
    border-radius: 16px;
    text-align: center;
}

.index-img{
    border: 1px solid black;
    border-radius: 16px;
    width: 200px;
    height: 165px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

/*Prototip 1*/

.center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center; 
    font-family: Arial, Helvetica, sans-serif;
}

.fondo{
    background-color: #ffffff;
    width: 146.51px;
    height: 246.32px;
}

.c1-principaltext{
    width: 121.55px;
    height: 31.19;
    font-size: 11.52px;
    font-weight: 400;
    margin-left: 7.68px;
}

.blue{
    color: #2ac2f0;
}

.valoration{
    width: 66.61px;
    height: 20.55px;
    font-size: 10.24px;
    padding: 0;
    margin: 0;
    margin-left: 7.68px;
    gap: 2px;
}

.valoration-number{
    background-color: #32A636;
    color: #FFFFFF;
    width: 19.38px;
    height: 18.55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.56px;
    margin-bottom: 10.88px;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}

.text-valoration{
    color: #BDBDBD;
    display: flex;
    justify-content: center;
}

.price{
    position: absolute;
    width: 26.23px;
    height: 33.27px;
    bottom: 0;
    left: 112.6px;
    top: 206.65px;
    font-size: 11.55px;
}

.margin-padding{
    padding: 0;
    margin: 0;
}

.relative{
    position: relative;
}

.form-text{
    padding-bottom: 5px;
}

/*Prototip 2*/

.fondo-2{
    width: 309.39px;
    height: 242.07;
}

.img-temple{
    background: linear-gradient(bottom, #000000, #FFFFFF);
}

.background{
    position: absolute;
    top: 0;
}

.content-pt2{
    position: absolute;
    top: 0;
    top: 119.83px;
    color: #FFFFFF;
    width: 179.74px;
    height: 71.34px;
}

.h1-pt2{
    font-size: 28.86px;
    padding: 0;
    margin: 0;
    margin-left: 17.63px;
}

.description-pt2{
    font-size: 11.22px;
    margin-left: 17.63px;
    width: 174.74px;
    height: 32.86px;
    line-height: 144%;
    color: #ffffffde;
}

.button-pt2{
    font-size: 12.82px;
    background-color: #ffffff00;
    border: 1px solid rgb(255, 255, 255);
    width: 81.76px;
    height: 34.47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24.85px;
}

/*Prototipo 3*/

.fondo-3{
    width: 274.51px;
    height: 125.21px;
    background-color: #FFFFFF;
}

.p1-pt3{
    width: 145.03px;
    height: 17.34px;
    font-size: 13.48px;
}

.bngk-size{
    font-size: 23.12px;
    width: 94.39px;
    height: 33.71px;
}

.pt3content-margin{
    margin-left: 14.45px;
    margin-top: 17.34px;
}

.pt3img-margin{
    margin-top: 15.74px;
}

.pt3date-margin{
    margin-left: 14.45px;
    margin-top: 26.01px;
    margin-right: 71.28px;
}

.p3-date{
    font-size: 13.48px;
}

.pt3-imglines{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pt3price-margin{
    margin-top: 10.52px;
}

.lineheight-none{
    line-height: 0;
}

/*Prototip 4*/

.fondo-4{
    width: 270.04px;
    height: 123.34px;
    background-color: #FFFFFF;
}

.text4-1{
    margin-top: 18.03px;
    margin-left: 14.23px;
}

.img4{
    margin-top: 15.5px;
    margin-left: 103.9px;
}

.sizetext2{
    font-size: 17.08px;
}

.sizetext1{
    font-size: 11.39px;
}

.margintext4{
    margin-left: 14.23px;
    margin-bottom: 8px;
    gap: 64px;
}

.button{
    color: #00AEFF;
    border: 1px solid #00AEFF;
    background-color: #00000000;
    width: 96.78px;
    height: 40.8px;
    border-radius: 29.41px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11.39px;
    font-size: 15.18px;
}

.texthour{
    width: 57.88px;
    height: 24.67px;
}